

img 
{
    width: 300px;
    height: 300px;
}

.tdborderless 
{
    border: none;
}


td 
{
   border: 1px solid black;

}



table 
{
	 width: 500px;
}

/*legende*/
.lvert
{
	color: black;
	background-color: green;
	text-align: center;
}


.lorange
{
	color: black;
	background-color: orange;
	
}

.lrouge
{
	color: black;
	background-color: red;
}

.lgris
{
	color: black;
	background-color:grey;
}

.lnoire
{
	color: white;
	background-color: black;
	
}
/*fin legende*/

.news_center
{
	text-align: center;
}
li
{
	display: inline;
	
}

.fonnd
{
	background-image: url(../img/fond.jpg);
}
